@import "starlight-ui-tweaks/styles";

:root {
  --sl-sidebar-width: 18rem;
}

#starlight__sidebar li {
  border-inline-start: none;
  margin-inline-start: 0;
  padding-inline-start: 0;
  margin-top: 6px;
}

#starlight__sidebar ul.top-level > li:has(> details) {
  margin-top: 0;
  padding: 10px 0;
  border-top: 1px solid var(--sl-color-hairline-light);
}

#starlight__sidebar ul.top-level > li:first-child:has(> details) {
  border-top: none;
  padding-top: 4px;
}

.site-title {
  font-family: "Yipes", sans-serif;
  letter-spacing: 0.0025em;
}
